{% extends 'admin/base.html.twig' %}
{% block title %}Nouvel allergène{% endblock %}
{% block admin_body %}
    <h1>Nouvel allergène</h1>
    <form method="post">
        <label>Label
            <input type="text" name="label" required>
        </label>
        <button type="submit" class="cta">Créer</button>
    </form>
{% endblock %}
