{% extends 'backoffice_base.html.twig' %}
{% block title %}Modifier allergène{% endblock %}
{% block backoffice_body %}
    <h1>Modifier allergène</h1>
    <form method="post">
        <label>Label
            <input type="text" name="label" value="{{ allergen.label }}" required>
        </label>
        <button type="submit" class="cta">Enregistrer</button>
    </form>
{% endblock %}
