{% extends 'employee/base.html.twig' %}
{% block title %}Espace employé{% endblock %}
{% block employee_body %}
    <h1>Espace employé</h1>
    <nav>
        <a href="{{ path('employee_orders') }}" class="cta">Commandes</a>
        <a href="{{ path('employee_reviews') }}" class="cta">Avis</a>
        <a href="{{ path('employee_menus') }}" class="cta">Menus</a>
        <a href="{{ path('employee_dishes') }}" class="cta">Plats</a>
    </nav>
{% endblock %}
