<p>Bonjour {{ user.firstName }},</p>
<p>Votre commande n°{{ order.orderNumber }} est désormais terminée.</p>
<p>Connectez-vous à votre espace personnel pour laisser un avis sur votre expérience.</p>
<p>Merci de votre confiance !</p>
