{% block footer %}
<footer>
    <h3>Ouvert de 11h à 21h, 7/7j</h3>
    <div>
        <p>© 2026 Vite et Gourmand</p>
        <a href="">CGU</a>
        <a href="">Mentions légales</a>
    </div>
</footer>
{% endblock %}